body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    background-color: aquamarine;
    border: 5px solid black;
    padding: 100px;
    font: caption;
    box-shadow: wheat 4px 7px;
    
}
#Login{
    background-color: aqua;
    text-align: center;
    padding: 20px 50px;
    border-radius: 20px;
    border: black 2px solid;
    box-shadow:rgb(255, 152, 152) 2px 2px;
}
#Login > input{
    border: none;
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    height: 30px;
    width: 400px;
    color:gray;
    background-color: aqua;
}
#Login > p {
    text-align: left;
    font-family:monospace;
    font-size: 18px;
    color: whitesmoke;
}
#Login > h1{
    color: White;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.274);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Login > h1:hover{
    transition: 1s ease-in;
    background-color: rgba(255, 160, 122, 0.493);
    color: red;
}
#Login>h1::first-letter{
    color: red;
}
#login{
    display: block;
    background-color: rgba(128, 128, 128, 0.171);
    width: 90%;
    margin: 10px;
    border: black 1px solid;
    height: 30px;
}
#login:hover{
    border: gray 1px solid;
    background-color: white;
    transition: 0.3s ease-in;
}